extends ../common/layout

block heading
	script(src=htmlWebpackPlugin.files.chunks['localweather/index'].entry)
	link(href=`${htmlWebpackPlugin.files.css}` rel="stylesheet" type="text/css")

block content
	h1 Title
	table
		thead
			tr
				td Day
				td Time
				td Temp
				td
				td Forecast
		tbody
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather
			tr.cell.hide
				td.day
				td.time
				td.measurement
				td.icon 
					img key={icon} src={`${icon}`}
					td.weather